/*************** GENERALI ***************/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7d8ba;
}

h1{
  text-align: center;
  color: #8ECC39;
}

/*************** CONTENITORE ***************/
#container{
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  margin: 50px auto;
}

/*************** CASELLE ***************/
.square{
  color: #795548;
  border: 1px solid #795548;
  height: 60px;
  width: calc(100% / 10);
}

.square-click{
  background-color: #4AC0FD;
}